<div class="layer_mask"></div>
<div class="layer_preAssess">
    <div class="preAssessTop" ng-click="closePreAssess()">
        <h2>保费估算</h2>
        <i class="preClose"></i>
    </div>
    <div class="preAssessMain">
        <ul class="Mask_carUl clearfix ">
            <li class="mLi">
                <label>车价</label>
                <input type="text" ng-model="car.price" maxlength="7" ng-blur="blurCarPriceDiv()"><span class="thousands">万元</span>
                <div  class="priceMsg" ng-show="carPriceTips" ng-bind="priceresultMsg"></div>
            </li>
            <li class="mLi">
                <label>购车年份</label>
                <drop-down  class="ddlTitle yearTit" ng-model="car.yearName" ng-value="car.yearName"
                            on-select="obj.getyear()"     code="yearName"  name="yearName" data="yearList"></drop-down>
            </li>
            <!--<li>-->
                <!--<label>出险次数</label>-->
                <!--<select name="" class="slectCarYear">-->
                    <!--<option value="0">0次</option>-->
                    <!--<option value="1">1次</option>-->
                    <!--<option value="2">2次</option>-->
                    <!--<option value="3">3次以上</option>-->
                <!--</select>-->
            <!--</li>-->
        </ul>
        <div class="getPrice">
            <div class="price mt20" ng-click="countPremium()">计算</div>
        </div>
        <div ng-if="layer_insureType">
            <div class="insuretype">
                <h3>根据您的车辆信息，保费估算如下</h3>
                <p>小贴士：该套餐是根据您提供简单资料计算出来的，但受您车型、等因素影响，与最终价格存在一定误差，仅供参考。</p>
                <ul class="insuretypeUl">
                    <li>机动车辆损失保险</li>
                    <li>第三者责任险（50万）</li>
                    <li>第三者责任险（50万）</li>
                    <li>车上人员责任险-乘客</li>
                    <li>发动机涉水损失险</li>
                    <li>发动机涉水损失险</li>
                    <li>车上人员责任险-司机</li>
                </ul>
            </div>
            <div class="getPrice">
                <div class="conDiv">
                    <span>保费：<i class="boldPrice" ng-bind="thisPrice+'元'"></i></span>
                    <!--<div class="price" ng-click="Continue()">继续投保</div>-->
                    <div class="price" ng-click="closePreAssess()">继续投保</div>
                </div>
            </div>
        </div>
    </div>
</div>