<div>
    <ul class="menu-first-content">
        <li ng-repeat="item in navList" class="menu-first-item" ng-click="showOrGo(item,$index)">
            <span ng-bind="item.title" class="menu-first-title"></span>
            <span ng-if="item.isChooseMenu!=null" class="oi menu-iconfont" ng-class="{true: 'oi-chevron-top', false: 'oi-chevron-bottom'}[item.isChooseMenu]"></span>
            <ul class="menu-second-content">
                <li ng-repeat="secondItem in item.list" class="menu-second-item" ng-show="item.list && item.checked">
                    <span ng-bind="secondItem.title" class="menu-second-title"></span>
                </li>
            </ul>
        </li>
    </ul>
</div>