<div class="step_div">
    <ul class="clearfix step_1">
        <li class="li_1"><em class="stepOne"></em>精确报价</li>
        <li class="li_2"><em>2.</em>提交订单</li>
        <li class="li_3"><em>3.</em>支付</li>
    </ul>
</div>
<div class="offer">
    <div class="clearfix official">
        <p class="mes"><i></i>隐私保护声明：您提供的个人信息仅供本次报价使用，不会泄露给任何第三方作其他用途
            <a href="http://www.epicc.com.cn/fuwu/changjianwenti/qita/201412/t20141218_12882.html" target="_blank" class="fs12">隐私保护协议</a>
        </p>
        <div class="clearfix carBg">
            <div class="region">
                <div class="region-top">
                    <span ng-bind="carCommInfo.licenseNo"></span>
                </div>
                <a ng-mouseover="enterShow()" ng-mouseleave="leaveHide()" ng-bind="carInfoDto.vehicle_modelsh"></a>
                <car-detail></car-detail>
                <!--<div class="brandtopTip" ng-show="brandtopTip">-->
                    <!--<i class="carArrow"></i>-->
                    <!--<span ng-bind="carModelDetail"></span>-->
                    <!--<h3>温馨提示：</h3>-->
                    <!--<p>请仔细核对您的车辆、行驶证信息，避免后续理赔不便</p>-->
                <!--</div>-->
            </div>
            <div class="carNews">
                <ul>
                    <li ng-repeat="d in carDescList ">
                        <i class="newImg" ng-show="d.state == 1"></i>
                        <span class="redms" ng-bind="'['+d.activitytitleCar+']'"></span>
                        <span class="fs12" ng-bind="d.activitydetailsCar"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="offer-main">
    <div class="official">
        <ng-form name=FormTest>
            <div class="carsMes">
                <div class="clxx newAddCxll">
                    <div class="clxx-top newClxx">
                        <i class="yuan thisCar"></i>
                        <span>车辆信息</span>
                    </div>
                    <p>网上支持家庭自用车投保，企业用车投保请拨打4001234567-1</p>
                </div>
                <div class="clxx-input">
                    <div class="mesLeft">
                        <p>行驶证不在身边？您可以 <i></i> <a href="javascript:" ng-click="showcarAssess()">保费估算</a></p>
                        <ul class="carUl">
                            <li class="clearfix">
                                <label>发动机号码</label>
                                <div class="right-input pr">
                                    <input id="engineNo"
                                            maxlength="30"
                                           name="engineNo"
                                           type="text" placeholder="请输入发动机号码"
                                           enlarge="enlargeFilter"
                                           ng-model="carInfoDto.engineno"
                                           uppercase
                                           custom-validator="rule.engineNoRule"
                                           ng-required="'请输入发动机号'"
                                           ng-focus="focusChangeImg('engineno')" >
                                </div>
                            </li>
                            <li class="clearfix">
                                <label>车辆识别代号</label>
                                <div class="right-input pr">
                                    <input id="frameNo" type="text"
                                           name="frameNo"
                                           placeholder="请输入17位车辆识别代号"
                                           ng-required="'请输入车辆识别码/车架号'"
                                           enlarge="enlargeFilter"
                                           uppercase
                                           custom-validator="rule.frameNoRule"
                                           ng-model="carInfoDto.frameno" maxlength="17"
                                           ng-focus="focusChangeImg('frameno')">
                                </div>
                            </li>
                            <li class="clearfix">
                                <label>品牌型号</label>
                                <div class="right-input pr">
                                    <input id="VEHICLE_MODELSH" type="text"
                                           name="VEHICLE_MODELSH"
                                           custom-validator
                                           placeholder="请选择品牌型号"
                                           ng-model="carInfoDto.vehicle_modelsh"
                                           ng-keyup="keyupVehicleModel($event)"
                                           ng-focus="focusChangeImg('vehicleModel')" required>
                                </div>
                            </li>
                            <!--<li class="clearfix" ng-show="brandTip">-->
                                <!--<div class="carDetailTip">-->
                                    <!--<span ng-bind="modelName+displacement+standardName+vehicleClassName+seat+price"></span>-->
                                <!--</div>-->
                            <!--</li>-->
                            <li  class="clearfix" ng-if="carCommInfo.seatCountFlag == 1">
                                <label>核定载客量</label>
                                <div class="right-input pr">
                                    <input id="SeatCount" type="text"
                                           name="SeatCount"
                                           custom-validator
                                           ng-model="carInfoDto.seatcount"
                                           required>
                                </div>
                            </li>
                            <li class="clearfix" >
                                <label>注册日期</label>
                                <div class="right-input pr">
                                    <input type="text"
                                           id="enrollDate"
                                           name="enrollDate"
                                           jedate=""  class="date"
                                           max-date={{carInfoDto.ownerChangeDate}}
                                           format="YYYY/MM/DD" ng-model="carInfoDto.enrolldate"
                                           custom-validator
                                           readonly
                                    />
                                </div>
                            </li>
                            <li class="clearfix" style="z-index:9;">
                                <label>商业险保单生效日期</label>
                                <input type="text"
                                       ng-model="mainReqDto.startDateBI"
                                       id="flightData5"
                                       jedate="" min-date={{carCommInfo.startSateBIMin}}
                                       is-today="false" max-date={{carCommInfo.startSateBIMax}} format="YYYY/MM/DD"
                                       class="date jedatered"    ng-change="hello()" readonly />
                                <div style="float: left;height: 34px;line-height: 34px;">
                                    <span class="mlr10" ng-bind="mainReqDto.startHourBI">0</span>时起 至 <span ng-bind="mainReqDto.endDateBI | dateLimitFilter"></span>日 <span ng-bind="mainReqDto.endHourBI">24</span> 时止
                                </div>
                            </li>
                            <!--<li class="clearfix">-->
                                <!--<p class="pleft130">商业险生效日期会影响保费高低，请您核对一下。</p>-->
                            <!--</li>-->
                            <li class="clearfix">
                                <label class="pr"><i class="fl questionNew" ng-mouseover="questionShow('secondHandCar')" ng-mouseleave="questionHide('secondHandCar')"></i>
                                    <div class="secondHandCar" ng-if="secondHandCar">
                                        <b></b>
                                        <p>如果您的车是二手车，并属以下情况之一的，请选择是：</p>
                                        <p> 1.过户时间在上年购买保险到今天之间。 <br />2.您的行驶证发证日期在一年内。</p>
                                    </div>
                                    一年内购置二手车</label>
                                <switch ng-model="carCommInfo.haveOwnerChangeFlag" base-code="yesNo"></switch>
                            </li>
                            <li class="clearfix" ng-if="carCommInfo.haveOwnerChangeFlag == 1">
                                <label>签发日期</label>
                                <div class="right-input pr">
                                    <input type="text"
                                           id="carLicenseDateId"
                                           name="carLicenseDateId"
                                           jedate=""  class="date"
                                           max-date={{carInfoDto.ownerChangeDate}}
                                           format="YYYY/MM/DD" ng-model="carInfoDto.ownerChangeDate"
                                           custom-validator
                                           readonly
                                           />
                                </div>
                            </li>
                            <li class="clearfix">
                                <label class="pr"><i class="fl questionNew" ng-mouseover="questionShow('LoanCar')" ng-mouseleave="questionHide('LoanCar')"></i>
                                    <div class="secondHandCar" ng-if="LoanCar">
                                        <b></b>
                                        <p>贷款车是指被保险的机动车的购车贷款尚未还清的车辆。</p>
                                    </div>
                                    是否贷款车</label>
                                <switch ng-model="carInfoDto.isHaveLoan" base-code="yesNo"  ></switch>
                            </li>
                            <li class="clearfix"  ng-if="carInfoDto.isHaveLoan == 1">
                                <label>贷款机构</label>
                                <div class="right-input pr">
                                    <input  id="loanName"
                                            name="loanName"
                                            custom-validator="rule.loadNameRule"
                                            ng-required="'请输入贷款银行或担保机构名称'"
                                            type="text"
                                            placeholder="请输入贷款机构"
                                            ng-model="carInfoDto.loanName"
                                             >
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="cardImg">
                        <i class="arrow"
                           ng-style="{top:curCard=='frameno'?'98px':curCard=='vehicleModel'?'152px':'44px'}"
                        ></i>
                        <div class="vehicleModelTip" ng-show="curCard == 'vehicleModel'">
                            <p>• <span>国产车</span>或<span>合资车</span>请按行驶证填写，如下图。</p>
                            <p>• 字母<span>纯进口车</span>请使用"品牌+系列"填写    例如“宝马740Li”</p>
                        </div>
                        <div class="preCard">
                            <img src="images/jsCard.png" class="bigCard" >
                            <i class="Prompt Prompt1" ng-show="curCard == 'vehicleModel'"></i> <!--品牌型号-->
                            <i class="Prompt Prompt3" ng-show="curCard == 'engineno'"></i> <!--发动机号-->
                            <i class="Prompt Prompt4" ng-show="curCard == 'frameno'"></i> <!--车辆识别代号-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="carsMes">
                <div class="clxx new-clxx newAddCxll">
                    <div class="clxx-top newClxx">
                        <i class="yuan thispeople"></i>
                        <span>被保险人信息</span>
                    </div>
                </div>
                <div class="clxx-input">
                    <div class="mesLeft new-mesLeft">
                        <ul class="carUl">
                            <li class="clearfix">
                                <label>被保险人姓名</label>
                                <div class="right-input pr">
                                    <input id="insuredName"
                                           name="insuredName"
                                           type="text"
                                           custom-validator="rule.insuredNameRule"
                                           ng-required="'请输入姓名'"
                                           placeholder="请输入被保险人姓名"
                                           ng-model="insuredReqDtos[0].insuredname"
                                           required>
                                </div>
                            </li>
                            <li class="clearfix" style="z-index:12;">
                                <label>证件信息</label>
                                <drop-down class="baseFee" ng-model="insuredReqDtos[0].identifytype" ng-value="carCommInfo.identifyName"  ng-disabled=""
                                           on-select="changeIdentifyTyp($select)" code="identifycode" name="identifyname" data="selectList"></drop-down>
                                <div class="right-input pr margin-l372">
                                    <input id="insuredIDNumber" type="text"
                                           name="insuredIDNumber"
                                           placeholder="请输入证件号码"
                                           ng-required="'请输入证件号码'"
                                           custom-validator="rule.insuredIDNumberRule"
                                           ng-model="insuredReqDtos[0].identifyno"
                                           >
                                </div>
                            </li>
                            <li class="clearfix" ng-show="carCommInfo.isIDCardFlag == 0">
                                <label>性别</label>
                                <switch ng-model="curSex" class="gender" base-code="gender"  ></switch>
                            </li>
                            <li class="clearfix"  ng-show="carCommInfo.isIDCardFlag == 0">
                                <label>出生日期</label>
                                <input type="text"
                                       id="birthday"
                                       jedate="" class="date" format="YYYY/MM/DD"
                                       ng-model="insuredReqDtos[0].birthday" readonly/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="submit">
                <a href="javascript:" class="saveMes" ng-click="saveCarInfo()">保存信息</a>
                <div class="price" ng-click="obtainPrice()">获取精确报价</div>
            </div>
            <div>
                <img src="images/guanggao.jpg"/>
            </div>
        </ng-form>
    </div>
</div>
<!--侧边浮动条-->
<slide-box></slide-box>
<!--超时弹层-->
<overtime-page></overtime-page>
<!--品牌型号-->
<div ng-show="layer_carMode" data-ng-include="'components/car/mode/carMode.html'"></div>
<!--保费估算-->
<div ng-show="layer_premiumAssess" data-ng-include="'components/car/mode/premiumAssess.html'"></div>
<!--验证码-->
<div ng-show="layer_testCode" data-ng-include="'components/mode/testCode.html'"></div>
