<div class="step_div"></div>
<div class="offer-main">
    <div class="official">
            <div class="carsMes boxShadow">
                <div class="renewalCard">
                    <div class="fl">
                        <i class="flagCar fl detailPlace"><i class="bzIcon"></i></i>
                        <div class="tit">
                            <b>您曾经在人保试算保费</b>
                            <p>填写以下信息，可带出最近一次保费试算信息，便捷快速投保，请仔细核对投保信息</p>
                        </div>
                    </div>
                    <div ng-show="flag==0" class="fr pr20"><i class="xCar"></i>二手车过户？请点<a ng-click="state()">这里</a></div>
                </div>
                <div class="pr">
                    <div class="mesLeft new-mesLeft">
                        <ul class="carUl">
                            <li class="clearfix">
                                <label>车辆识别码/车架号</label>
                                <div class="right-input">
                                    <input name="tokenNo"
                                           id="tokenNo"
                                           maxlength="20"
                                           type="text"
                                           enlarge="enlargeFilter"
                                           custom-validator=""
                                           ng-required="'请输入车辆识别码/车架号'"
                                           ng-model="card.tokenNo"
                                           required>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label>发动机号</label>
                                <div class="right-input">
                                    <input name="tokenNo"
                                           id="9"
                                           maxlength="6"
                                           type="text"
                                           enlarge="enlargeFilter"
                                           custom-validator=""
                                           ng-required="'请输入发动机号'"
                                           ng-model="card.tokenNo"
                                           required>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label>车主姓名</label>
                                <div class="right-input">
                                    <input name="tokenNo"
                                           id="0"
                                           type="text"
                                           enlarge="enlargeFilter"
                                           custom-validator=""
                                           ng-required="'请输入车主姓名'"
                                           ng-model="card.tokenNo"
                                           required>
                                </div>
                            </li>
                            <li class="clearfix">
                                <label></label>
                                <input type="button" class="fastBtn" value="下一步" ng-click="fastBtn()">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>
<!--超时弹层-->
<overtime-page></overtime-page>
<!--核对信息，请稍后-->
<div ng-show="layer_wait" data-ng-include="'components/mode/waiting.html'"></div>