<div class="layer_mask"></div>
<div class="layer_preAssess">
    <div class="preAssessTop" >
        <h2>增加保险份数</h2>
        <i class="preClose" ng-click="closePreAssess()" ></i>
    </div>
    <div class="preAssessMain luggMain">
        <p class="provide">
            <span>保障说明</span>：封闭的车厢内部及后备箱存放的行李物品，遭受盗窃、抢劫等意外事故和自然
            <br>灾害所造成的损失，承担赔偿责任。
        </p>
        <p class="provide">
            <span>保险责任</span>：人保国内公路运输随车行李险物品定额保险和贴膜损失。
        </p>
        <div class="add-insuer-num">
            <table class="add-insuerTab" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="13%">保额</th>
                    <th width="12%">保费</th>
                    <th width="21%">保险期间</th>
                    <th width="54%">特别约定</th>
                </tr>
                <tr>
                    <td>
                        <span ng-bind="calReqDto.yelAmount"></span>元
                    </td>
                    <td>
                        <span ng-bind="calReqDto.yelPerminum"></span>元
                    </td>
                    <td >1年<br><span>（同车险起止日期）</span></td>
                    <td class="last-child">
                        <div class="appoint">
                            <b class="text-gl" style="font-weight: normal;" ng-bind="calCommData.engage"></b>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="package_yesbuy">
            <ul>
                <li>
                    <label>被保险人：</label>
                    <div ng-bind="calCommData.insuredEADName"></div>
                </li>
                <li>
                    <label>每辆车投保份数：</label>
                    <div class="but_quantity">
                        <b class="add" id="add" ng-click="calLuggNUM(0)"></b>
                        <input type="text" maxlength="2" class="text_box"  ng-model="calReqDto.insuredYELcopies" ng-blur="luggBlur('yel_insuredCopies')">
                        <span>人</span>
                        <b class="reduce" id="reduce" ng-click="calLuggNUM(1)"></b>
                    </div>
                    <p>每辆车最多投保 30份！</p>
                </li>
            </ul>
            </div>
            <p class="insuer-sum">随车行李险保费总计
                <span class="span_11" id="sumYELpermium" ng-bind="calReqDto.sumYELpermium"></span>
                <span class="span_16 colorred">.00</span>
                元
            </p>
            <div class="btn"><input type="button" value="确定" class="closeYEL" ng-click="closeYELadd()"></div>
        </div>
    </div>
</div>
