<div class="layer_mask"></div>
<div class="layer_preAssess wid600">
    <div class="preAssessTop" >
        <h2>温馨提示</h2>
        <i class="preClose" ng-click="closePreAssess()" ></i>
    </div>
    <div class="preAssessMain luggMain paddTop">
        <p class="mes">
            <i></i>购买车上人员补充意外险，需先购买车上人员责任险，是否购买？
        </p>
        <ul class="riskUL">
            <li ng-repeat="risk in riskList" ng-show="risk.kindCode=='050701'|| risk.kindCode=='050702'" class="clearfix">
                <div class="pl38 fl"  ng-bind="risk.kindName"></div>
                <div class="fl pr20"  style="line-height: 0;">
                    <drop-down class="littleImg wid116 wid160" ng-model="risk.amount" ng-value="risk.amounttype"
                               ng-disabled="risk.disabledFlag" on-select="obj.card(risk)" code="amounttype" name="amountvalue" data="risk.amountlists">
                    </drop-down>
                </div>
                <div class="fl">
                    <p ng-bind="risk.premium | number:2 | isProposalFilter "></p>
                </div>
            </li>
        </ul>
        <div class="clearfix twobtn">
            <span class="sendPrice fl" ng-click="sendLayer()">购买</span><span class="sendPrice fl ml24" ng-click="sendLayer()">不购买</span>
        </div>
    </div>
</div>
