<div class="layer_mask"></div>
<div class="layer_preAssess">
    <div class="preAssessTop" >
        <h2>上一年度商业险事故索赔记录</h2>
        <i class="preClose" ng-click="closePreAssess()" ></i>
    </div>
    <div class="preAssessMain luggMain">
        <div class="add-insuer-num">
            <table class="add-insuerTab" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="10%">序号</th>
                    <th width="20%">出险时间</th>
                    <th width="20%">结案时间</th>
                    <th width="20%">赔付金额</th>
                    <th width="30%">投保保险公司</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
